
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html, input, label, button, select, option { font-family: 'Inter var', sans-serif; }
}



/* Tools */

html, body{
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}

body.playing{
  background-color: #000;  
}

body.storyboard{
  background-color: #CCC;
}

*{
  padding: 0;
  margin: 0;
  border-width: 0;
}

.tabbar > button{
  border-wdith: 1px;
  min-width: 4rem;
  max-height: 2rem;
}

.toolbar > button{
  border-width: 1px;
  min-width: 4rem;
  min-height: 4rem;
}


button i{
  font-size: 2rem;
  top: 0;
  left: 0;
}

button .label{
  position: absolute;
  top: 0;
  left: 0;
}

#canvas{
  position: absolute;
  transition: margin-left .5s ease-in-out;
/*   transitioni: margin-right .5s ease-in-out; */
  transition: margin-top: .5s ease-in-out;
/*   transition: margin-bottom: .5s ease-in-out; */
  transition: width: .5s ease-in-out;
  transition: height: .5s ease-in-out;
}

.playing svg{
  background-color: white;
}

.storyboard svg{
  display: none;
}

.tabbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  transition: top 0.5s ease-in-out;
}

.toolbar{
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  height: 4rem;
  left: 0;
  top: 2rem;
  transition: top 0.5s ease-in-out;
}

.toolbar.active{
  display: flex;
}

.toolbar .fa-stack{
  font-size: .8rem;
}

.playing .toolbar, .storyboard .toolbar{
  top: -6rem;
}

.feedback{
  min-height: 4rem;
  min-width: 4rem;
  font-size: .8rem;
  background-color: white;
  text-align: center;
}

.tabbar .feedback{
  min-height: 2rem;
}

.fa-stack-1x{
  font-size: 1rem;
}

.fa-stack-2x{
  font-size: 2rem;
}


label{
  font-size: .8rem;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox] ~ .checked{
  display: none;
  font-size: 2rem;
}

input[type=checkbox] ~ .unchecked{
  display: block;
  font-size: 2rem;
}

input[type=checkbox]:checked ~ .checked{
  display: block;
}

input[type=checkbox]:checked ~ .unchecked{
  display: none;
}

.palettechooser{
  max-width: 4rem;
}

.toolbar .miniwell{
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
}

.toolbar .colorwell{
  max-height: 2rem;
  min-height: 2rem;
}

.toolbar .fgcolor{
  background-color: black;
  color: white;
}

.toolbar .bgcolor{
  background-color: white;
  color: black;
}

.toolbar .half{
  min-height: 2rem;
  max-height: 2rem;
  max-width: 4rem;
  font-size: 1rem;
}

.active{
  background-color: lightblue;
}

.colorpalette{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 4rem;
  width: 8rem;
}

.popup-color {
    position : absolute;
    display : none;
    background-color : rgb(225, 225, 225);
    border : 1px solid rgb(191, 191, 191);
    box-shadow : rgba(0, 0, 0, 0.24) 7px 7px 14px -3px;
    border-radius : 4px;
    padding : 12px;
    box-sizing : content-box;
    left : calc(50% - 100px);
    top : calc(50% - 100px);
    border-radius: 110px;
    margin-left: -30px;
    margin-top: -10px;
}

path{
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
  fill: none;
}

.frame{
  display: none;
}

.frame.selected{
  display: inline;
}
.playing .frame.selected{
  display: none;
}

.playing .frame.play-frame{
  display: inline;
}

.frame.onionskin{
  display: inline;
  pointer-events: none;
  opacity: .5;
}

.playing .frame.onionskin{
  display: none;
}

.storyboard-frame{
  border: 1px solid #666;
  padding: 10px;
}