
/* Tools */

html, body{
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}

body.playing{
  background-color: #000;  
}

body.storyboard{
  background-color: #CCC;
}

*{
  padding: 0;
  margin: 0;
  border-width: 0;
}

button{
  border-width: 1px;
  min-width: 4rem;
  min-height: 4rem;
  transition: top .5s ease-in-out;
  transition: left .5s ease-in-out;
}

button.half{
  min-width: 2rem;
  min-height: 2rem;
}

button i{
  font-size: 2rem;
  top: 0;
  left: 0;
}

button .label{
  position: absolute;
  top: 0;
  left: 0;
}

#canvas{
  position: absolute;
  transition: margin-left .5s ease-in-out;
  transitioni: margin-right .5s ease-in-out;
  transition: margin-top: .5s ease-in-out;
  transition: margin-bottom: .5s ease-in-out;
}

.playing svg{
  background-color: white;
}

.storyboard svg{
  display: none;
}

.buttonbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  transition: top  0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.buttonbar .fa-stack{
  font-size: .8rem;
}

.tools{
  width: 4rem;
  left: 0;
  top: 4rem;
}

.playing .tools, .storyboard .tools{
  left: -4rem;
}

.animation{
  flex-direction: column;
  width: 48rem;
  height: 4rem;
  left: 4rem;
  top: 0;
}

.playing .animation, .storyboard .animation{
  top: -4rem;
}

.animation .feedback{
  flex: 4 4;
  min-height: 1.3rem;
  font-size: 1rem;
  background-color: white;
}

.feedback input[type=number]{
  max-width: 3em;
}

.palette{
  position: absolute;
  top: 0;
  left: 0;
}

.playing .palette, .storyboard .palette{
  top: -4rem;
  left: -4rem;
}

.fa-stack-1x{
  font-size: 1rem;
}

.fa-stack-2x{
  font-size: 2rem;
}

label{
  font-size: 1rem;
}

.buttonbar .colourwell{
  min-height: 2rem;
  background-color: black;
  color: white;
}

.buttonbar .clear{
  min-height: 2rem;
  max-width: 4rem;
  font-size: 1rem;
}

.buttonbar .slider{
  max-width: 4em;
}

.active{
  background-color: lightblue;
}

.colorpalette{
  width: 4rem;
}

.popup-colour {
    position : absolute;
    display : none;
    background-color : rgb(225, 225, 225);
    border : 1px solid rgb(191, 191, 191);
    box-shadow : rgba(0, 0, 0, 0.24) 7px 7px 14px -3px;
    border-radius : 4px;
    padding : 12px;
    box-sizing : content-box;
    left : calc(50% - 100px);
    top : calc(50% - 100px);
    border-radius: 110px;
    margin-left: -30px;
    margin-top: -10px;
}

path{
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
  fill: none;
}

.frame{
  display: none;
}

.frame.selected{
  display: inline;
}
.playing .frame.selected{
  display: none;
}

.playing .frame.play-frame{
  display: inline;
}

.frame.onionskin{
  display: inline;
  pointer-events: none;
  opacity: .5;
}

.playing .frame.onionskin{
  display: none;
}