/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */

html, body, svg{
  height: 100%;
}

.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: calc(100% - 100px);
  border-radius: 16px;
  border: 2px outset hsl(0, 0, 60%);
  background-color: hsl(0, 0%, 90%);
  padding: 16px;
}

.playing .sidebar input, .playing .sidebar button, .playing .footbar button{
  pointer-events: none;
}

.playing #play{
  display: none;
}

#stop{
  display: none;
}

.playing #stop{
  display: inline;
  pointer-events: auto;
}


input[type=range]{
  width: 60px;
}

.footbar{
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 100px);
  height: 100px;
  border-radius: 16px;
  border: 2px outset hsl(0, 0, 60%);
  background-color: hsl(0, 0%, 90%);
  padding: 16px;
}

button{
  width: 60px;
  height: 60px;
  border-radius: 16px;
  border: 2px outset #000;
}

.sidebar button, .sidebar input{
  margin-bottom: 16px;
}

.footbar button{
  vertical-align: top;
}

hr.vertical{
  position: relative;
  width: 1px;
  height: 100%;
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-right: 1px inset #000;
}

output{
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 16px;
  border: 2px inset #000;
  margin-top: 20px;
}

path{
  stroke-linecap: round;
  stroke-linejoin: round;
}

.frame{
  display: none;
}

.frame.selected{
  display: inline;
}
.playing .frame.selected{
  display: none;
}

.playing .frame.play-frame{
  display: inline;
}

.frame.onionskin{
  display: inline;
  opacity: .5;
}

.playing .frame.onionskin{
  display: none;
}

